
.serviceItem[data-process-id="MosaicCOM"]>.icon {
	background-color: red !important;
}
.serviceItem[data-process-id="MosaicCOM"]>.icon>i:before{ content:"" }
.serviceItem[data-process-id="MosaicCOM"]>.icon>i {
	height: 80px;
	width: 80px;
	background: url(https://cdn1.iconfinder.com/data/icons/STROKE/networking/png/400/satellite.png);
	background-size: contain;
}


.serviceItem[data-process-id="fAPAR"]>.icon {
	background: url(http://khm0.googleapis.com/kh?v=157&hl=en&x=2&y=0&z=2&token=1419);
}
.serviceItem[data-process-id="fAPAR"]>.icon>i:before{ content:"" }
.serviceItem[data-process-id="fAPAR"]>.icon>i {
	height: 80px;
	width: 80px;
	background: url(https://cdn1.iconfinder.com/data/icons/STROKE/networking/png/400/satellite.png);
	background-size: contain;
}

