<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseConnection" value="Server=localhost; Port=3306; User Id=root; Database=tepurban; Max Pool Size=200" />
    <add key="BaseUrl" value="http://127.0.0.1:8084/t2api" />
    <add key="UserClass" value="Terradue.Tep.UserTep, Terradue.Tep" />
    <add key="LocalContextClass" value="Terradue.Tep.WebServer.TepLocalContext, Terradue.Tep" />
    <add key="WebContextClass" value="Terradue.Tep.WebServer.TepLocalContext, Terradue.Tep" />
    <add key="TerradueLogConfigurationFile" value="log4net.config" />
    <add key="log4net.Internal.Debug" value="true" />
	<add key="DataGatewayBaseUrl" value="https://store.terradue.com" />
	<add key="DataGatewaySubstitutions" value='[{"host":"www.brockmann-consult.de","oldvalue":"bc-wps/staging","substitute":"www.brockmann-consult.de"}]' />
  </appSettings>
  <customErrors mode="Off" />
  <trace enabled="true" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
  <pages validateRequest="false" />
  <location path="t2api">
    <system.web>
      <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="176" minLocalRequestFreeThreads="152" appRequestQueueLimit="100" maxReceivedMessageSize="2097152"/>
      <sessionState mode="InProc" timeout="60" cookieless="false">
      </sessionState>
      <httpHandlers>
        <add path="*" type="Terradue.Tep.WebServer.SessionHttpHandlerFactory" verb="*" />
      </httpHandlers>
    </system.web>
  </location>
  <system.net>
     <connectionManagement>
        <add address="*" maxconnection="144" />
     </connectionManagement>
  </system.net>
  <system.web>
    <httpHandlers>
      <add path="t2api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>